<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../SalesPresentation.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>G.E.M.</title>
<meta name=Description
content="7/7/2011: GEM  Automate Your Database Infrastructure">
<link rel=Stylesheet href="master35_stylesheet.css">
<![if !ppt]>
<style>
.CB
	{color:white;}
.CT
	{color:#EAEAEA;}
</style>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" flag="1"/><o:shapelayout
 v:ext="edit">
 <o:idmap v:ext="edit" data="14,803"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#000066;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#000066,#ffffff,#000099,#eaeaea,#66ccff,#0066ff,#ffffcc,#99cc00"
 masterhref="master36.xml">
 <p:shaperange href="master36.xml#_x0000_s1204225"/><![if !ppt]><p:shaperange
  href="master36.xml#_x0000_s1204226"/><![if !vml]><img border=0
 v:shapes="_x0000_s1204226,_x0000_s1204228,_x0000_s1204229,_x0000_s1204230,_x0000_s1204231,_x0000_s1204232,_x0000_s1204234,_x0000_s1204235,_x0000_s1204236,_x0000_s1204237,_x0000_s1204238,_x0000_s1204239"
 src="master36_image001.gif" style='position:absolute;top:0%;left:0%;
 width:100.18%;height:100.25%'><![endif]><![endif]><p:shaperange
  href="master36.xml#_x0000_m1204240"/><v:shape id="_x0000_s822274" type="#_x0000_m1204240"
  style='position:absolute;left:78pt;top:90pt;width:586.625pt;height:2in'
  o:userdrawn="f">
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="centerTitle"/></v:shape><p:shaperange
  href="master36.xml#_x0000_m1204241"/><v:shape id="_x0000_s822275" type="#_x0000_m1204241"
  style='position:absolute;left:84pt;top:384.125pt;width:7in;height:47.75pt'
  o:userdrawn="f">
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="subTitle" position="1"/></v:shape>
 <div v:shape="_x0000_s822274" class=CT><span style='position:absolute;
 top:8.75%;left:11.79%;width:79.58%;height:10.0%'><b><i>GEM</i></b><br>
  </span><span style='position:absolute;top:18.75%;left:11.79%;width:79.58%;
 height:10.0%'><br>
  </span><span style='position:absolute;top:28.49%;left:11.79%;width:79.58%;
 height:7.25%'><span style='font-family:"Book Antiqua";font-size:73%'>Automate
 Your Database </span></span><span style='position:absolute;top:35.5%;
 left:11.79%;width:79.58%;height:7.25%'><span style='font-family:"Book Antiqua";
 font-size:73%'>Infrastructure</span></span></div>
 <div v:shape="_x0000_s822275" class=CB>
 <div style='position:absolute;top:71.75%;left:12.73%;width:68.16%;height:7.5%'>By
 Ed Barlow&#13;</div>
 <div style='position:absolute;top:79.75%;left:12.73%;width:68.16%;height:3.75%'><span
 style='font-size:50%'><p:onmouseclick hyperlinktype="url"
  href="http://www.edbarlow.com/"/><a href="http://www.edbarlow.com/"
 target="_parent" onclick="window.event.cancelBubble=true;">www.edbarlow.com</a></span><span
 style='font-size:50%;display:none'>&#13;</span></div>
 <div style='position:absolute;top:84.0%;left:12.73%;width:68.16%;height:3.75%'><span
 style='font-size:50%'>barlowedward@hotmail.com</span></div>
 </div>
</p:slide></div>

</body>

</html>
