<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../SalesPresentation.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>G.E.M.</title>
<meta name=Description content="7/7/2011">
<link rel=Stylesheet href="master35_stylesheet.css">
<![if !ppt]>
<style>
.CB
	{color:white;}
</style>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="1178"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#000066;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#000066,#ffffff,#000099,#eaeaea,#66ccff,#0066ff,#ffffcc,#99cc00"
 masterhref="master36.xml">
 <p:shaperange href="master36.xml#_x0000_s1204225"/><![if !ppt]><p:shaperange
  href="master36.xml#_x0000_s1204226"/><![if !vml]><img border=0
 v:shapes="_x0000_s1204226,_x0000_s1204228,_x0000_s1204229,_x0000_s1204230,_x0000_s1204231,_x0000_s1204232,_x0000_s1204234,_x0000_s1204235,_x0000_s1204236,_x0000_s1204237,_x0000_s1204238,_x0000_s1204239"
 src="master36_image001.gif" style='position:absolute;top:0%;left:0%;
 width:100.18%;height:100.25%'><![endif]><![endif]><p:shaperange
  href="master36.xml#_x0000_m1204241"/><v:shape id="_x0000_s1206275" type="#_x0000_m1204241"
  style='position:absolute;left:84pt;top:162pt;width:7in;height:282pt'
  o:userdrawn="f">
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="subTitle" position="1"/></v:shape>
 <div v:shape="_x0000_s1206275" class=CB><span style='position:absolute;
 top:30.75%;left:12.73%;width:68.16%;height:7.5%'><b><i>Automation</i></b><b> </b>is
 the key to </span><span style='position:absolute;top:37.75%;left:12.73%;
 width:80.14%;height:7.5%'>effectively manage large numbers </span><span
 style='position:absolute;top:44.75%;left:12.73%;width:68.16%;height:7.5%'>of
 databases<br>
  </span><span style='position:absolute;top:52.0%;left:12.73%;width:68.16%;
 height:7.5%'>&#13;</span>
 <div style='position:absolute;top:60.5%;left:12.73%;width:73.59%;height:7.5%'><b><i>GEM</i></b><b>
 </b>automates key DBA tasks</div>
 </div>
</p:slide></div>

</body>

</html>
