<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../SalesPresentation.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>G.E.M.</title>
<meta name=Description content="7/7/2011: GEM Console  (the web interface)">
<link rel=Stylesheet href="master35_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" flag="1"/><o:shapelayout
 v:ext="edit">
 <o:idmap v:ext="edit" data="1060"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#000066;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#000066,#ffffff,#000099,#eaeaea,#66ccff,#0066ff,#ffffcc,#99cc00"
 masterhref="master35.xml">
 <p:shaperange href="master35.xml#_x0000_s1203201"/><![if !ppt]><p:shaperange
  href="master35.xml#_x0000_s1203202"/><![if !vml]><img border=0
 v:shapes="_x0000_s1203202,_x0000_s1203203,_x0000_s1203204,_x0000_s1203206,_x0000_s1203207,_x0000_s1203208,_x0000_s1203209,_x0000_s1203210,_x0000_s1203211,_x0000_s1203212,_x0000_s1203213,_x0000_s1203214"
 src="master35_image002.gif" style='position:absolute;top:0%;left:0%;
 width:100.18%;height:100.25%'><![endif]><p:shaperange
  href="master35.xml#_x0000_s1203217"/>
 <div v:shape="_x0000_s1203217" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:91.75%;left:12.73%;width:18.91%;height:2.5%'><span
 lang=EN-US style='font-family:Tahoma;font-size:42%;text-shadow:auto;
 layout-flow:horizontal;mso-field-code:meta0'>7/7/2011</span><span
 style='font-family:Tahoma;font-size:42%;text-shadow:auto;layout-flow:horizontal;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <p:shaperange href="master35.xml#_x0000_s1203218"/>
 <div v:shape="_x0000_s1203218" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:91.75%;left:37.07%;width:32.58%;
 height:2.5%'><span style='font-family:Tahoma;font-size:42%;text-shadow:auto;
 layout-flow:horizontal;mso-field-code:meta15'>Copyright<span
 style='mso-spacerun:yes'>  </span>© 2002-2011<span style='mso-spacerun:yes'> 
 </span>by Edward Barlow</span><span style='font-family:Tahoma;font-size:42%;
 text-shadow:auto;layout-flow:horizontal;mso-special-format:lastCR;display:
 none'>&#13;</span></div>
 <p:shaperange href="master35.xml#_x0000_s1203219"/>
 <div v:shape="_x0000_s1203219" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:91.75%;left:74.34%;width:18.91%;height:2.5%'><span
 style='font-family:Tahoma;font-size:42%;text-shadow:auto;layout-flow:horizontal;
 mso-field-code:meta16'>26</span><span style='font-family:Tahoma;font-size:
 42%;text-shadow:auto;layout-flow:horizontal;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><p:shaperange href="master35.xml#_x0000_m1203215"/><v:shape id="_x0000_s1085446"
  type="#_x0000_m1203215" style='position:absolute;left:84pt;top:24pt;width:594pt;
  height:112.75pt' o:userdrawn="f">
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="title"/></v:shape><p:shaperange
  href="master35.xml#_x0000_m1203216"/><v:shape id="_x0000_s1085447" type="#_x0000_m1203216"
  style='position:absolute;left:84pt;top:156pt;width:594pt;height:324pt'
  o:userdrawn="f">
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="body" position="1"/></v:shape>
 <div v:shape="_x0000_s1085446" class=T style='position:absolute;top:10.0%;
 left:12.73%;width:92.69%;height:10.0%'><b><i>GEM</i></b> Console <span
 style='mso-tab-count:1;width:9.19%'> </span><span style='font-size:45%'>(the
 web interface)</span></div>
 <div v:shape="_x0000_s1085447">
 <div class=B style='position:absolute;top:29.5%;left:12.73%;width:80.71%;
 height:7.5%'><span style='position:absolute;top:0%;left:4.64%;width:95.35%;
 height:100.0%'><span class=BB style='position:absolute;left:-4.86%;top:.39em'>n</span>Configure
 &amp; View Alarms&#13;</span></div>
 <div class=B1><span style='position:absolute;top:38.0%;left:20.78%;width:85.58%;
 height:6.5%'><span class=B1B style='position:absolute;left:-3.71%'>–</span>Example:
 event logs, systems availability, </span><span style='position:absolute;
 top:44.0%;left:20.78%;width:72.47%;height:6.5%'>space monitoring…&#13;</span></div>
 <div class=B style='position:absolute;top:51.74%;left:12.73%;width:80.71%;
 height:7.5%'><span style='position:absolute;top:0%;left:4.64%;width:95.35%;
 height:100.0%'><span class=BB style='position:absolute;left:-4.86%;top:.39em'>n</span>Configuration
 Reporting&#13;</span></div>
 <div class=B1 style='position:absolute;top:60.0%;left:17.6%;width:88.76%;
 height:6.5%'><span style='position:absolute;top:0%;left:3.58%;width:96.41%;
 height:100.0%'><span class=B1B style='position:absolute;left:-3.71%'>–</span>Allows
 you to proactively manage servers&#13;</span></div>
 <div class=B style='position:absolute;top:67.75%;left:12.73%;width:80.71%;
 height:7.5%'><span style='position:absolute;top:0%;left:4.64%;width:95.35%;
 height:100.0%'><span class=BB style='position:absolute;left:-4.86%;top:.39em'>n</span>Morning
 Review</span></div>
 </div>
</p:slide></div>

</body>

</html>
